body {
    font-family: Arial, sans-serif;
    background-image: url("images/bg.jpeg");
    background-size: cover;
    margin: 0;
    padding: 0;
}

header {
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 20px;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: darkgrey;
    color: white;
    padding: 15px;
    text-align: center;
    z-index: 1000;
}

footer img {
    width: 25px;
    margin: 0 5px;
}

section {
    padding: 20px;
}

h1, h2, h3 {
    color: darkblue;
}
html {
    overflow-y: scroll;
}
